.sidebar {
  gap: 1.5em;
  display: flex;
  position: relative;
  flex-direction: column;
  padding-right: 2em;
}

@media (max-width: 768px) {
  .sidebar {
    padding: 0 0 1.5em;
  }
}

.sidebar::after {
  content: '';
  width: 1px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border: 0 dashed currentColor;
  border-width: 0 1px 0 0;
  filter: drop-shadow(4px 0 0 currentColor);
}

@media (max-width: 768px) {
  .sidebar::after {
    width: 100%;
    height: 1px;
    right: 0;
    top: 100%;
    border-width: 0 0 1px;
    filter: drop-shadow(0 4px 0 currentColor);
  }
}

.user-list {
  margin: 0;
  padding: 0;
  flex: 1 0 auto;
  list-style: none;
}

@media (max-width: 768px) {
  .user-list {
    max-height: 200px;
    overflow: auto;
  }
}

.user-list__item:not(:first-child) {
  margin-top: 0.25em;
}

.user-list__user {
  display: flex;
  gap: 1.5em;
  width: 100%;
  color: inherit;
  padding: 0.25em;
  cursor: pointer;
  background: none;
  font-size: inherit;
  font-family: inherit;
  text-transform: uppercase;
  border: 1px solid transparent;
  justify-content: space-between;
}

.user-list__user:hover,
.user-list__user.active {
  font-weight: bold;
  border-color: currentColor;
}

.user-list__user span:first-child {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
