.search {
  gap: 1em;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .search {
    width: 100%;
  }
}

.search__icon {
  display: flex;
  font-size: 2em;
  cursor: pointer;
  align-items: center;
}

.search__icon::before {
  content: '\26B2';
  transform: rotate(45deg);
}

.search__field {
  background: transparent;
  border: none;
  color: inherit;
  outline: none;
  width: 10em;
  flex-grow: 1;
  padding: 0.3em 0;
  line-height: 1.5em;
  font-size: inherit;
  font-family: inherit;
  border-bottom: 1px dashed currentColor;
}

.search__field::-webkit-search-cancel-button{
  filter: hue-rotate(250deg);
}

.search__field::placeholder {
  color: inherit;
  opacity: 0.5;
}

.search__field:-webkit-autofill,
.search__field:-webkit-autofill:hover, 
.search__field:-webkit-autofill:focus, 
.search__field:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--invert-color) inset !important;
}
.search__field:-webkit-autofill{
  -webkit-text-fill-color: var(--color) !important;
}

.search__field:focus {
  border-bottom-style: solid;
}