.content {
  gap: 1.5em;
  display: flex;
  flex-direction: column;
}

.search-posts {
  gap: 1.5em;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.search-posts__buttons {
  display: flex;
}

.search-posts__button {
  width: 2em;
  color: inherit;
  cursor: pointer;
  font-size: 1.25em;
  background: none;
  padding: 0 0.25em;
  font-family: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border: 1px solid currentColor;
}

.search-posts__button:focus,
.search-posts__button:hover {
  color: var(--invert-color);
  outline: none;
  background: var(--color);
}

.search-posts__button span {
  transform: rotate(90deg);
}

.post-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.post-list__item:not(:first-child) {
  margin-top: 1.5em;
  padding-top: 1.5em;
  position: relative;
}

.post-list__item:not(:first-child):after {
  content: '';
  height: 1px;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  filter: drop-shadow(0 -4px 0 currentColor);
  border-bottom: 1px dashed currentColor;
}

.post-list .time {
  margin-bottom: 0.5em;
}
