.dashboard {
  flex: 1 0 auto;
  display: grid;
  gap: 2em;
  grid-template-columns: 15em 1fr;
}

@media (max-width: 768px) {
  .dashboard {
    grid-template-columns: 100%;
  }
}

.dashboard__content {
  display: flex;
  align-items: center;
  justify-content: center;
}
